extend ../../layouts/default.pug
block main
    h1(class="fs-4") Chỉnh sửa sản phẩm  
    form(
        id="form-edit-product"
        action=`/admin/products/edit/${product.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        label(for="title" class="form-label mt-1") Tiêu đề :
        div(class="input-group")
            input(
                class="form-control"
                type="text"
                required 
                id="title"
                name="title"
                value=product.title
            )
        label(for="desc" class="form-label mt-1") Mô tả chi tiết :
        div(class="input-group")
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
            ) #{product.description}
        .row 
            .col-3.ms-0
                label(for="price" class="form-label mt-1") Mức giá :
                div(class="input-group")
                    input(
                        class="form-control"
                        type="number"
                        name="price"
                        min=0
                        value=product.price
                        step="any"
                    )
            .col-3
                label(for="discountPercentage" class="form-label mt-1") % Giảm giá :
                div(class="input-group")
                    input(
                        class="form-control"
                        type="number"
                        name="discountPercentage"
                        min=0
                        value=product.discountPercentage
                        step="any"
                    )
            .col-3 
                label(for="stock" class="form-label mt-1") Số lượng :
                div(class="input-group")
                    input(
                        class="form-control"
                        type="number"
                        name="stock"
                        min=1
                        value=product.stock
                    )
            .col-3.me-0
                label(for="position" class="form-label mt-1") Vị trí sản phẩm : 
                div(class="input-group")
                    input(
                        class="form-control"
                        type="number"
                        id="position"
                        name="position"
                        placeholder="Tự động tăng"
                        value=product.position
                    )
        label(for="thumbnail" class="form-label mt-1") Hỉnh ảnh :
        div(class="input-group")
            input(
                class="form-control"
                type="file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
            )
        div(
            class="preview-img"
        )
            img(
                upload-image-preview
                src=product.thumbnail
            )
            button(
                type="button"
                class="btn btn-outline-danger"
                btn-delete-image-preview
            ) Xóa    
        label(class="form-label d-block mb-1 mt-1") Trạng thái :
        div(class="form-check d-inline-block me-2")
            input(
                class="form-check-input"
                type="radio"
                name="status"
                id="active"
                value="active"
                checked=product.status == "active" ? true : false
            )
            label(class="form-check-label" for="active") Hoạt động
        div(class="form-check d-inline-block")
            input(
                class="form-check-input"
                type="radio"
                name="status"
                id="inactive"
                value="inactive"
                checked=product.status == "inactive" ? true : false
            )
            label(class="form-check-label" for="inactive") Ngừng hoạt động 
        div(class="input-group mt-2")
            input(
                type="submit"
                value="Tạo mới"
                class="btn btn-primary"
            )
        