extend ../../layouts/default.pug
block main
    if(role.permissions.includes("roles_create"))
        h1(class="mb-4") Tạo nhóm quyền
        form(
            action=`${prefixAdmin}/roles/create`
            method="POST"
        )
            .mt-1 
                label(for="title" class="form-label") Tiêu đề :
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                ) 
            .mt-2
                label(for="desc" class="form-label") Tiêu đề :
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="description"
                ) 
            .mt-2
                input(
                    type="submit"
                    value="Tạo mới"
                    class="btn btn-outline-primary"
                )