extend ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    if(role.permissions.includes("accounts_edit"))
        h1(class="fs-4") Thay đổi mật khẩu
        form(
            action=`${prefixAdmin}/accounts/edit-password/${idUser}/?_method=PATCH`
            method="POST"
        )
            .mt-2
                label(class="form-label" for="password") Mật khẩu mới : 
                input(
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                )
            .mt-2 
                label(class="form-label" for="confirm") Xác nhận mật khẩu :
                input(
                    type="password"
                    class="form-control"
                    id="confirm"
                    required
                )
            .mt-2 
                input(
                    type="submit"
                    class="btn btn-primary text-center"
                    value="Cập nhật"
                )
