mixin table-tree(records, level = 1)
    - const prefix = Array(level + 1).join("-- ");
    each item, index in records
        tr
            td 
                input(
                    type="checkbox"
                    name="id"
                    class="form-check-input"
                    value=item.id
                )
            td #{item.index}
            td 
                - if(item.thumbnail)
                    img(
                        src=item.thumbnail
                        alt=item.title
                        class="inner-img"
                    )
            td #{prefix}#{item.title}
            td
                input(
                    type="number"
                    class="form-control"
                    min=1
                    max=200
                    name="position"
                    change-position
                    value=item.position
                    style="width : 60px"
                )
            td
                if(item.status == "active")
                    button(
                        type="button"
                        class="badge text-bg-primary"
                        button-change-status
                        id-item=item.id 
                        status=item.status
                    ) Đang hoạt động
                else 
                    button(
                        type="button"
                        class="badge text-bg-warning"
                        button-change-status
                        id-item=item.id 
                        status=item.status
                    ) Dừng hoạt động
            td
                if(role.permissions.includes("products-category_view"))
                    a(
                        type="button"
                        class="btn btn btn-outline-secondary btn-sm inner-btn me-1"
                        href=`products-category/details/${item.slug}`
                    ) <i class="fa-regular fa-eye"></i>
                if(role.permissions.includes("products-category_edit"))
                    a(
                        type="button" 
                        class="btn btn-outline-primary btn-sm inner-btn me-1"
                        href=`products-category/edit/${item.id}`
                    ) <i class="fa-solid fa-pen-to-square"></i>
                if(role.permissions.includes("products-category_delete"))
                    button(
                        type="button" 
                        class="btn btn-outline-danger btn-sm inner-btn"
                        data-id-delete-item=item.id
                    ) <i class="fa-solid fa-trash"></i>
        if item.children && item.children.length > 0
            +table-tree(item.children, level + 1)