mixin alert-success(success)
    if(success)
        .message.success
            div(
                class="alert alert-primary" 
                role="alert"
                show-alert
                time="3000"
            ) #{success}
mixin alert-error(error)
    if(error)
        .message.error
            div(
                class="alert alert-danger" 
                role="alert"
                show-alert
                time="3000"
            ) #{error}