extend ../../layouts/defaultUser
block main
    .container
        .user-register
            .row.justify-content-center
                .col-4 
                    .form-register
                        h1(class="fs-4 text-center mb-4") Đặt lại mật khẩu 
                        form(
                            action="/user/password/forget"
                            method="POST"
                        )
                            div(class="mb-3")
                                input(
                                    type="email"
                                    class="form-control"
                                    placeholder="Email/Số điện thoại"
                                    name="email"
                                )
                            div(class="mb-3 d-grid gap-2")
                                button(
                                    type="submit"
                                    class="d-block btn btn-outline-danger"
                                ) Tiếp theo