extend ../../layouts/defaultUser
block main 
    .container
        .user-register
            .row.justify-content-center 
                .col-4
                    .form-register
                        h1(class="fs-4 text-center mb-2") Nhập mã xác minh
                        form(
                            action="/user/password/otp"
                            method="POST"
                        )
                            .d-none 
                                input(
                                    type="email"
                                    name="email"
                                    value=email
                                )
                            #inputs-otp.inputs-otp.text-center.mb-3
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                                input.input-otp(type='text' inputmode='numeric' maxlength='1' name="otp")
                            div(class="mb-3 d-grid gap-2")
                                button(
                                    type="submit"
                                    class="d-block btn btn-outline-danger"
                                ) Tiếp theo
