extend ../../layouts/defaultUser.pug
include ../../mixins/alert.pug
block main 
    +alert-error(messages.error)
    .user-register
        .row.justify-content-center
            .col-4
                .form-register
                    h1(class="fs-4" class="inner-title text-center") Thay đổi mật khẩu
                    form(
                        action=`/user${action}`
                        method="POST"
                    )
                        div(class="mb-2")
                            label(class="form-label" for="password") Mật khẩu :
                            input(
                                type="password"
                                class="form-control"
                                name="password"
                                id="password"
                                required 
                            )
                        div(class="mb-3")
                            label(class="form-label" for="pass-confirm") Xác nhận mật khẩu :
                            input(
                                type="password"
                                class="form-control"
                                name="pass_confirm"
                                id="pass-confirm"
                                required 
                            )
                        div(class="mb-3 d-grid gap-2")
                            button(
                                type="submit"
                                class="d-block btn btn-outline-danger"
                            ) Thay đổi mật khẩu
                