extend ../../layouts/default.pug
block main
    .product-list
        .container.inner-wrap
            .inner-head
                h1 Danh sách sản phẩm
            .row
                each item in products
                    .col-3
                        .inner-item
                            .inner-img
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                )
                            .inner-content
                                .inner-title #{item.title}
                                .inner-price-new #{item.priceNew}$
                                .inner-price-old 
                                    .inner-price #{item.price}
                                        sup $
                                    .inner-discount -#{item.discountPercentage}
                